@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  background-color: #FDFBF7;
  color: #1A2E26;
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100%;
}

